<h1 class="m-5">Stupid Coaching</h1>
<div class="col-4 m-5">
  <form action="/answer" class="input-group" data-turbo="false">
    <input type="text" class="form-control" name="question">
    <input type="submit" class="btn btn-warning" value="Ask!">
  </form>
</div>
